/* Universal Styles */

/* Resetting default margin and padding */
body, h1, h2, p, ul, li, button, form {
    margin: 0;
    padding: 0;
}

/* Body font and background */
body {
    font-family: 'Montserrat', sans-serif; /* Updated font */
    background-color: #fcf8f2; /* Updated background color to Ivory Incline */
    color: #5e6c6d; /* Updated font color to Willow Gray */
}

/* Header Styles */
header {
    background-color: #000000; /* Updated to Barbell Black */
    color: #2aa786; /* Updated to Gains Green */
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #2aa786; /* Updated to Gains Green */
    text-decoration: none;
    font-weight: bold;
}

/* Logo Styles */
header div img {
    width: 100px; /* Adjust size as needed */
    height: 100px; /* Adjust size as needed */
}

header div h1 {
    font-size: 30px; /* Changed to 30px */
    margin-top: 10px;
    color: #2aa786; /* Updated to Gains Green */
}

/* Main Content Styles */
main {
    padding: 20px;
}

h2 {
    font-family: 'Montserrat', sans-serif; /* Updated font */
    font-weight: bold;
    font-size: 25px; /* Changed to 25px */
    color: #000000; /* Updated to Barbell Black */
    margin-bottom: 10px;
}

p {
    font-size: 16px; /* Changed to 16px */
    color: #000000; /* Updated to Barbell Black */
    line-height: 1.5;
}

/* Footer Styles */
footer {
    background-color: #000000; /* Updated to Barbell Black */
    color: #2aa786; /* Updated to Gains Green */
    padding: 20px;
    text-align: center;
}

/* Form Styles */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #000000; /* Updated to Barbell Black */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #2aa786; /* Updated to Gains Green */
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px 20px;
    background-color: #2aa786; /* Updated to Gains Green */
    color: #000000; /* Updated to Barbell Black */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #a3c55f; /* Updated to Lateral Lime */
}

/* Gallery Styles */
main section div {
    margin-bottom: 20px;
}

button {
    background-color: #2aa786; /* Updated to Gains Green */
    color: #000000; /* Updated to Barbell Black */
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

button:hover {
    background-color: #a3c55f; /* Updated to Lateral Lime */
}
